[ req ]
prompt = no
distinguished_name = req_distinguished_name
x509_extensions = v3_req
[ req_distinguished_name ]
C = CH
ST = Vaud
L = Lausanne
O = Kudelski Security
CN = 85.184.255.36
[v3_req]
subjectAltName = @alt_names
[alt_names]
DNS.1   = *.kudelskisecurity.com
DNS.2   = *.microsoft.com